@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model WebApplication.Views.Home.IndexModel


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @foreach (var item in Model.Accounts)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
    }
</div>