Database/*.swp
Database/*.*~
Database/project.lock.json
Database/.DS_Store
Database/*.pyc
Database/nupkg/

WebApplication/*.swp
WebApplication/*.*~
WebApplication/project.lock.json
WebApplication/.DS_Store
WebApplication/*.pyc
WebApplication/nupkg/

# Visual Studio Code
Database/.vscode

WebApplication/.vscode

# Rider
Database/.idea

WebApplication/.idea

# User-specific files
Database/*.suo
Database/*.user
Database/*.userosscache
Database/*.sln.docstates

WebApplication/*.suo
WebApplication/*.user
WebApplication/*.userosscache
WebApplication/*.sln.docstates

# Build results
Database/[Dd]ebug/
Database/[Dd]ebugPublic/
Database/[Rr]elease/
Database/[Rr]eleases/
Database/x64/
Database/x86/
Database/build/
Database/bld/
Database/[Bb]in/
Database/[Oo]bj/
Database/[Oo]ut/
Database/msbuild.log
Database/msbuild.err
Database/msbuild.wrn

WebApplication/[Dd]ebug/
WebApplication/[Dd]ebugPublic/
WebApplication/[Rr]elease/
WebApplication/[Rr]eleases/
WebApplication/x64/
WebApplication/x86/
WebApplication/build/
WebApplication/bld/
WebApplication/[Bb]in/
WebApplication/[Oo]bj/
WebApplication/[Oo]ut/
WebApplication/msbuild.log
WebApplication/msbuild.err
WebApplication/msbuild.wrn

# Visual Studio 2015
Database/.vs/

WebApplication/.vs/